<div  class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-1">
                <img src="{{$ctrl.tweet.user.profile_image_url}}" alt="">
            </div>
            <div class="col-sm-11">
                <div class="col-sm-6">Name: {{$ctrl.tweet.user.name}} <span> @{{$ctrl.tweet.user.screen_name}}</span></div>
                <div class="col-sm-6">Followers: {{$ctrl.tweet.user.followers_count | number}}</div>
                <div class="col-sm-6">Location: {{$ctrl.tweet.user.location}}</div>
                <div class="col-sm-6">Date/Time: {{$ctrl.convertToTimeStamp($ctrl.tweet.created_at) | date:'dd/MM/yy h:mm a'}}</div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-sm-12"><p>{{$ctrl.tweet.text}}</p></div>
        <div class="col-sm-6" ng-if="$ctrl.tweet.entities.media"><img class="img-responsive" src="{{$ctrl.tweet.entities.media[0].media_url}}" ></div>
    </div>
</div>
