<div class="navbar">
    <div class="container">
            <h4 class="navbar-text">Tweets Feed</h4>
            <button class="btn btn-primary navbar-btn navbar-right " style="margin-right:15px" ng-click="refreshTwitterFeed()">Refresh TwitterFeed</button>
    </div>
</div>
<div wiki-tooltip>

<tweet-details ng-repeat="tweet in twitterFeed" tweet="tweet"></tweet-details>
</div>

